<!DOCTYPE html>
<html lang="en-us">
<head>
<style>
body{font:1.2em/1.62 sans-serif;margin:1em auto;max-width:40em;padding:0 .62em;}
h1,h2,h3{line-height:1.2;}
pre{background:#F8F8F8;overflow: auto;padding:0.5em;}
blockquote{background:#F8F8F8;overflow: auto;padding:0.5em;}
img{max-width:100%;}
img.u-photo{float:right;}
@media print{body{max-width:none}}
</style>
{{ block "header" . }}{{ end }}
<meta name="author" content="skippy">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="pgpkey" href="https://skippy.net/files/skippy.pub">
<link rel="authorization_endpoint" href="https://skippy.net/auth/">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<link rel="micropub" href="https://skippy.net/micropub/index.php">
<link href="https://skippy.net/index.xml" rel="alternate" type="application/rss+xml" title="skippy.net" />
<link href="https://skippy.net/index.xml" rel="feed" type="application/rss+xml" title="skippy.net" />
<link rel="license" href="http://creativecommons.org/licenses/by/4.0/" />
</head>
<body>
{{ block "main" .}}{{ end }}
<hr />
{{ block "footer" . }}{{ end }}
<p><a rel="me" href="/">home</a> / <a href="/about/">about</a> / <a href="/archive/">posts</a> / <a href="  /note/">notes</a> / <a href="/index.xml">RSS</a></p>
</body>
</html>
