{{- define "header" -}}
<title>{{ .Title }}{{ if .IsPage }} - {{ .Site.Title }}{{ end }}</title>
{{ if and (.IsPage) (eq .Section "") -}}
{{ with .Params.description }}<meta name="description" content="{{ . }}">{{ end }}
{{ with .Params.tags }}<meta property="keywords" content="{{ delimit . "," }}">{{ end }}
{{- end -}}{{/* if .IsPage */}}
{{- end -}}{{/* define "header" */}}

{{- define "main" -}}
<article class="h-entry">
<h1 class="p-name"><a class="u-url" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
{{- if ne .Params.nodate true -}}
<h4>published <time class="dt-published" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time><a class="p-author h-card" href="https://skippy.net/" title="skippy"></a></h4>
{{- end -}}
<div class="e-content">
{{ if and (isset .Params "photo") (not (.HasShortcode "photo")) }}<p><img src="{{ index .Params.photo 0 }}" /></p>{{ end }}
{{ .Content }}
</div>
</article>
{{ end }}
