{{- define "header" -}}
{{- $year := index (split $.File.Dir "/") 1 -}}
{{- $month := .File.BaseFileName -}}
<title>Notes from {{ $year }}/{{ $month }}  - {{ .Site.Title }}</title>
{{- end -}}{{/* define "header" */}}

{{- define "main" -}}
{{- $year := index (split $.File.Dir "/") 0 -}}
{{- $month := .File.BaseFileName -}}
<article class="h-feed">
<h2>Notes from {{ dateFormat "January 2006" (printf "%s-%s-01" $year $month) }}</h2>
{{- range sort (index .Site.Data $year $month).entries "date" "desc" }}
{{- $displaydate := dateFormat "2006-01-02 15:04" (index . "date") }}
<article class="h-entry" id="{{ index . "slug" }}">
{{- if index . "in-reply-to" -}}
<div class="u-in-reply-to h-cite"><a href="#{{ index . "slug" }}" title="{{ $displaydate }}" class="u-url">↪</a> <a href="{{ index . "in-reply-to" }}" class="u-url p-author">{{ index . "in-reply-to-name" }}</a>: {{ with index . "in-reply-to-content" }}<blockquote class="e-content">{{ . }}</blockquote>{{ end }}</div>
{{- end -}}
{{- if index . "repost-of" -}}
<div class="u-repost-of h-cite"><a href="#{{ index . "slug" }}" title="{{ $displaydate }}" class="u-url">♺</a> <cite><a href="{{ index . "repost-of" }}" class="p-author u-url">{{ index . "repost-of-name" }}</a></cite>: <blockquote class="e-content">{{ markdownify (index . "repost-of-content") }}</blockquote></div>
{{- end -}}
{{- if ge (countwords (index . "content")) 1 }}
<div class="e-content">
<p>
{{- if not (index . "in-reply-to") }}<a href="#{{ index . "slug" }}" title="{{ $displaydate }}">&para;</a> {{ end -}}
{{- if index . "thumbnail" }}<a href="{{ index (index . "photo") 0 }}"><img src="{{ index (index . "thumbnail") 0 }}" /></a><br />
{{- else if index . "photo" }}<a href="{{ index (index . "photo") 0 }}"><img src="{{ index (index . "photo") 0 }}" /></a><br />{{ end -}}
{{ index . "content" }}</p>
</div>
{{- end }}
</article>
<div class="separator">---</div>
{{- end }}
{{- end -}}
