<header class="h-card">
<img class="u-photo" src="https://skippy.net/images/scott-merrill-2017.jpg" alt="Scott Merrill" />
<h1 class="p-name"><a rel="me" class="u-url" href="https://skippy.net/">Scott Merrill</a></h1>
<h3><a class="u-email" href="mailto:skippy@skippy.net">skippy@skippy.net</a> / GPG <a href="http://pgp.mit.edu:11371/pks/lookup?op=get&search=0xED0F2C0A">0xED0F2C0A</a></h3>
<p><a rel="me" href="https://www.flickr.com/people/skippy">flickr</a> / <a rel="me" href="https://github.com/skpy">github</a> / <a rel="me" href="https://keybase.io/skippy">keybase</a> / <a rel="me" href="https://www.linkedin.com/in/scottdmerrill">linkedin</a> / <a rel="me" href="https://twitter.com/smerrill">twitter</a></p>
<hr />
</header>
