{{ define "main" }}
<header class="h-card">
<img class="u-photo" src="https://skippy.net/images/scott-merrill-2017.jpg" alt="Scott Merrill" />
<h1 class="p-name"><a rel="me" class="u-url" href="https://skippy.net/">Scott Merrill</a></h1>
<h2><a class="u-email" href="mailto:skippy@skippy.net">skippy@skippy.net</a></h2>
<h3>GPG key <a class="u-key" href="https://pgp.mit.edu/pks/lookup?op=get&search=0xD8F2E57BED0F2C0A">0xD8F2E57BED0F2C0A</a></h3>
<p><span class="p-locality">Columbus</span>, <span class="p-region">Ohio</span>, <span class="p-country-name">USA</span></p>
<p><a href="https://skippy.net/about/">about me</a> / <a href="https://skippy.net/archive/">posts</a> / <a href="https://skippy.net/note/">notes</a></p>
<p><a rel="me" href="https://www.flickr.com/people/skippy">flickr</a> / <a rel="me" href="https://github.com/skpy">github</a> / <a rel="me" href="https://keybase.io/skippy">keybase</a> / <a rel="me" href="https://www.linkedin.com/in/scottdmerrill">linkedin</a> / <a rel="me" href="https://twitter.com/smerrill">twitter</a></p>
<hr />
</header>
<h2>Recent posts</h2>
<ul>
{{- range first 10 (where .Data.Pages "Section" "") -}}
<li><time>{{ .Date.Format "2006-01-02" }}</time> - <a href="{{ .Permalink }}">{{ .Title }}</a></li>
{{- end -}}
</ul>
<h2>Recent notes</h2>
<ul>
{{- range first 20 (where (where .Data.Pages "Section" "note") ".Params.posttype" "note" ) -}}
<li><a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02 15:04" }}</a> - {{ plainify .Content | htmlUnescape }}</li>
{{- end -}}
</ul>
{{- end -}}
