{{ define "main" }}
{{- if eq 1 .Paginator.PageNumber -}}
<header class="h-card">
<img class="u-photo" src="https://skippy.net/images/scott-merrill-2017.jpg" alt="Scott Merrill" />
<h1 class="p-name"><a rel="me" class="u-url" href="https://skippy.net/">Scott Merrill</a></h1>
<h2><a class="u-email" href="mailto:skippy@skippy.net">skippy@skippy.net</a></h2>
<h3>GPG key <a href="http://pgp.mit.edu:11371/pks/lookup?op=get&search=0xED0F2C0A">0xED0F2C0A</a></h3>
<p><a href="https://skippy.net/about/">about me</a> / <a href="https://skippy.net/all-posts/">posts</a> / <a href="https://skippy.net/note/">notes</a></p>
<p><a rel="me" href="https://www.flickr.com/people/skippy">flickr</a> / <a rel="me" href="https://github.com/skpy">github</a> / <a rel="me" href="https://keybase.io/skippy">keybase</a> / <a rel="me" href="https://www.linkedin.com/in/scottdmerrill">linkedin</a> / <a rel="me" href="https://twitter.com/smerrill">twitter</a></p>
<hr />
</header>
{{- end -}}
<ul>
{{- range .Paginator.Pages -}}
{{- if eq .Section "note" -}}
<li><a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02 15:04" }}</a> - {{ plainify .Content | htmlUnescape }}</li>
{{- else -}}
{{- if (and (ne .Title "skippy.net") (ne .Title "All posts")) -}}
{{- /* bold the date on blog posts, so they stand out a little bit */ -}}
<li><strong><time>{{ .Date.Format "2006-01-02" }}</time></strong> - <a href="{{ .Permalink }}">{{ .Title }}</a></li>
{{- end -}}
{{- end -}}
{{- end -}}
</ul>
{{ if .Paginator.HasPrev }}<a href="{{ .Paginator.Prev.URL }}">&larr; Newer</a> {{ end }}
{{ if .Paginator.HasNext }}<a href="{{ .Paginator.Next.URL }}">Older &rarr;</a>{{ end }}
{{- end -}}
