<article class="h-entry">
<h2 class="p-name">skippy is <a class="u-url" href="{{ .Permalink }}">{{ .Title }}</a></h2>
<div class="e-content">
{{- if isset .Params "photo" }}
<p><img alt="skippy is {{ .Title }}" class="u-photo" src="{{ index .Params.photo 0 }}" /></p>
{{ end -}}
{{ .Content }}
</div>
<p><a class="p-author h-card" href="https://skippy.net/" title="skippy">skippy</a> posted this on <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05" }}">{{ .Date.Format "2006-01-02" }}</time></p>
</article>
<hr />
