<!DOCTYPE html>
<html lang="en-us">
<head>
<style>
body{font:1.2em/1.62 sans-serif;margin:1em auto;max-width:40em;padding:0 .62em;}
h1,h2,h3{line-height:1.2;}
img{max-width:100%}
@media print{body{max-width:none}}
</style>
<title>{{ .Site.Title }}{{ if .IsPage }} {{ .Title }}{{ end }}</title>
<meta name="author" content="skippy">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="pgpkey" href="https://skippy.net/files/skippy.pub">
<link rel="authorization_endpoint" href="https://skippy.is/auth/">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<link rel="micropub" href="https://skippy.is/micropub/index.php">
<link rel="license" href="http://creativecommons.org/licenses/by/4.0/" />
<link href="https://skippy.is/index.xml" rel="alternate" type="application/rss+xml" title="skippy.is RSS feed" />
<link href="https://skippy.is/index.xml" rel="feed" type="application/rss+xml" title="skippy.is RSS feed" />
{{ if .IsPage }}<link rel="author" href="https://skippy.net/" title="skippy">{{ end }}
</head>
<body>
