<header class="h-card">
<img class="u-photo" align="right" src="https://skippy.net/images/scott-merrill-2016.jpg" alt="Scott Merrill" width="150" height="150" />
<h1 class="p-name">Scott Merrill</h1>
<p><a class="u-email" href="mailto:skippy@skippy.net">skippy@skippy.net</a> / GPG <a href="http://pgp.mit.edu:11371/pks/lookup?op=get&search=0xED0F2C0A">0xED0F2C0A</a></p>
<p><a rel="me" class="u-url" href="https://skippy.net/">skippy.net</a> / <a rel="me" class="u-url" href="https://skippy.is/">skippy.is</a></p>
<p><a rel="me" href="https://www.flickr.com/people/skippy">flickr</a> / <a rel="me" href="https://github.com/skpy">github</a> / <a rel="me" href="https://keybase.io/skippy">keybase</a> / <a rel="me" href="https://www.linkedin.com/in/scottdmerrill">linkedin</a> / <a rel="me" href="https://twitter.com/smerrill">twitter</a></p>
<hr />
</header>
