{{- partial "header.html" . -}}
{{ if eq .Paginator.PageNumber 1 }}
{{ partial "home.html" }}
{{- range (first 1 .Paginator.Pages) }}
<article>
<h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
<p>Published <time pubdate datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></p>
{{ .Content -}}
</article>
<hr />
{{- end }}
<h3>Recent posts:</h3>
<ul>
{{ range (after 1 .Paginator.Pages) }}
<li><time pubdate datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time> - <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
{{ end }}
</ul>
{{ else }}
{{- range .Paginator.Pages }}
<article>
<h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
<p>Published <time pubdate datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></p>
{{ .Content -}}
</article>
<hr />
{{- end }}{{ end }}
{{- partial "pagination.html" . -}}
{{- partialCached "footer.html" . -}}
